In [2]:
import pandas as pd

**Trong folder cần có 3 file csv lấy từ Cafef như sau:**
- CafeF.HNX.Upto11.05.2023
- CafeF.HSX.Upto11.05.2023
- CafeF.UPCOM.Upto11.05.2023
<br/>
-Note: Ta thấy các file có dạng CafeF.UPCOM.Upto[Ngay-Thang-Nam]

In [72]:
#Bước 0: Nhập ngày lấy data
data_ngay ='11.05.2023'    #'CafeF.HNX.Upto{data}.csv'.format(data =data_ngay)
fil_number = 20230510

In [21]:
#Bước 1: Load Dataset vào Dataframe - Sử dụng  format method  
HNX_df = pd.read_csv('CafeF.HNX.Upto{data}.csv'.format(data =data_ngay))
HOSE_df = pd.read_csv('CafeF.HSX.Upto{data}.csv'.format(data =data_ngay))
UPCOM_df = pd.read_csv('CafeF.UPCOM.Upto{data}.csv'.format(data =data_ngay))

In [67]:
HNX_df['San'] ='HNX'
HOSE_df['San'] ='HOSE'
UPCOM_df['San'] ='UPCOM'

In [68]:
#Bước 2: Nối 3 Dataframe bằng append method 
HNX_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752227 entries, 0 to 752226
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   <Ticker>      752227 non-null  object
 1   <DTYYYYMMDD>  752227 non-null  int64
 2   <Open>        752227 non-null  float64
 3   <High>        752227 non-null  float64
 4   <Low>         752227 non-null  float64
 5   <Close>       752227 non-null  float64
 6   <Volume>      752227 non-null  int64
 7   San           752227 non-null  object
dtypes: float64(4), int64(2), object(2)
memory usage: 45.9+ MB

In [74]:
df = HOSE_df.append(HNX_df, ignore_index=True).append(UPCOM_df, ignore_index=True)
data = df[df['<DTYYYYMMDD>'] == fil_number]
data = data[['<Ticker>','<Close>','San', '<DTYYYYMMDD>']].sort_values(by='<Ticker>')
data

C:\Users\This PC\AppData\Local\Temp\ipykernel_19688\2302251596.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = HOSE_df.append(HNX_df, ignore_index=True).append(UPCOM_df, ignore_index=True)

        <Ticker>  <Close>    San  <DTYYYYMMDD>
1850690      A32    33.00  UPCOM      20230510
434          AAA    10.90   HOSE      20230510
435          AAM    11.00   HOSE      20230510
1850691      AAS    11.70  UPCOM      20230510
436          AAT     5.39   HOSE      20230510
...          ...      ...    ...           ...
1851043      XMC     7.50  UPCOM      20230510
1851044      XMD     6.70  UPCOM      20230510
1851045      YBC     9.00  UPCOM      20230510
871          YBM     6.86   HOSE      20230510
872          YEG    11.35   HOSE      20230510

[1034 rows x 4 columns]

In [1]:
#Bước 3: Đổi tên cột xuất file cho đẹp 
data.rename(columns={'<Ticker>':'Ticker', '<Close>':'Close','<DTYYYYMMDD>':'Date Time'}, inplace=True)

NameError: name 'data' is not defined

In [71]:
data.to_csv('DataGia_{data}.csv'.format(data =data_ngay), index=False)